body{
	/*padding-top:50px;*/
	text-align: center;
	-webkit-font-smoothing:antialiased;
}
*{
	box-sizing: border-box;
}

svg{
	height:auto;
}

input{
	width:100%;
	margin-bottom:20px;
}

#wrapper{
	max-width:960px;
	margin:0 auto;
	font-family:TextSans, sans-serif;
}

#title{
	font-size:1em;
}
#title span{
	color:#fff;
	background:#85C54B;
	padding:5px;
	border-radius: 2px;
}
.pitchContainer{
	width: 100%;
	height: 0;
	padding-bottom: 65%;
}

.closeupView .pitchContainer{
	padding-bottom:80%;
}

.closeupView .goalA{
	display:none;
}
.shot{
	cursor:pointer;
	z-index:0;
	position: relative;
	/*display:none;*/
}

.shot:hover{
	opacity:0.5;
}

.shot.goal{
	z-index:100;
	display:block;
}
.matchesContainer{
	width:100%;
}
.shotsContainer{
	position: relative;
}
.shotsContainer h1{
	position:absolute;
	top:180px;
	margin:0;
	color:#fff;
	left:460px;
	text-align: center;
	width:40px;
	padding:0 10px;
}
.match{
	width:33%;
	display: inline-block;
	padding:10px;
}
.match svg{
	width:100%;
	height:100%;
}

.details{
	background:#fff;
	display:inline-block;
	color:#fff;
	padding:10px;
	font-size:12px;
	margin: 5px;
	font-weight:bold;
}